# 
# PHP error handling for development servers
# 
# Place this .htaccess file into the folder where the php scripts are.  
# When you are satisfied your scripts work properly, change the first three flags from on to off and
# the value of error_reporting from -1 to 0. (Or simply remove the .htaccess file from the server!)
#
# This technique works on b246b.ca
# This does *NOT* work on mylinux.langara.bc.ca
#
php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_value error_reporting -1

# Some webhosts permit a permanent log file of error messages to be kept. I don't think b246b.ca does.
# To do that, create an empty file
# called PHP_error.log in this same folder.  Change the permissions of the log file to world writable.  
# You will find all your error messages in this file.  You should empty your log file periodically.
#
# Then remove the comment symbol (#) from the following line.
#php_value error_log ./PHP_errors.log
#
php_flag log_errors on
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off
php_flag report_memleaks on
php_flag track_errors on
php_value docref_root 0
php_value docref_ext 0
php_value log_errors_max_len 0

<Files PHP_errors.log>
 Order allow,deny
 Deny from all
 Satisfy All
</Files>